@{
    ViewBag.Title = "Förstasidan";
}

<div class="jumbotron">
    <h2>Välkommen till Stensland-Bahgats hemsida</h2>
    <p class="lead">Första utkast till egen hemsida med diverse hemknåpad teknik...</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Träning</h2>
        <p>
            <ol>
                <li>Friskis och svettis</li>
                <li>Löpning</li>
                <li>Badminton</li>
                <li>Skridskor</li>
            </ol>
        </p>
        <p><a class="btn btn-default" href="/traning">Träning &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Utveckling och teknik</h2>
        <ol>
            <li>ASP.NET5</li>
            <li>Bootstrap</li>
            <li><a asp-controller="App" asp-action="BuyPics">Köp bilder</a></li>
            <li><a class="btn btn-default" href="/teknik">Teknik &raquo;</a></li>
            <li><a asp-controller="App" asp-action="Shop">shop</a></li>
        </ol>
    </div>
    <div class="col-md-4">
        <h2>Resor</h2>
        <p>
            Daniella är som vanligt nojig och vill resa någonstans.
            <ol>
                <li>Åre</li>
                <li>Moskva</li>
                <li>Dykresa i höst</li>
                <li>Bila i Frankrike i sommar</li>
            </ol>
        </p>
        <p><a class="btn btn-default" href="~/Resa/Index">Resor &raquo;</a></p>
    </div>
</div>
