@page
@model Hemsida.Views.CoursesModel
@{
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<h1>Courses and help pages</h1>
<ul>
    <li>Building a Web App with ASP.NET Core, MVC, Entity Framework Core, Bootstrap and Angular - Shawn Wildermuth, Pluralsight</li>
    <li>ASP.NET Core Fundamentals - Scott Allen, Pluralsight</li>
</ul>
@Model.Message
<br />
