@page
@model Hemsida.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<h2>Your restaurant was not found!</h2>
<a asp-page="./List" class="btn btn-primary">Restaurants</a>